html {
  background-color: black;
  background-size: cover;
  text-align: center;
}

h2 {
  display: block;
  text-align: center;
  background-color: #1a1a1a;
  width: 250px;
  opacity: 80%;
  margin: 50px auto;
  color: rgb(255, 204, 102);
 }

 h3 {
  color: rgb(255, 255, 255);
 }

 .section {
  color: rgb(255, 255, 255);
 }

.inventorydiv {
  display: flex;
  align-items: center;
  gap: 10px;            
 }

th {
  color: rgb(255, 204, 102);
}
 
tr {
  color: violet;
 }

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;      
 }

 table {
  margin-left: auto;
  margin-right: auto;
  opacity: 90%;
  background-color: #1a1a1a;
 }


 .footer {
  display: block;
  margin-top: 200px !important;
  margin: auto;
  background-color: #1a1a1a;
}

.footnotes {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  color: white;
}

a {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

td img {
  width: 60px;
  height: auto;
  object-fit: contain;
  image-rendering:optimizeQuality;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  border: 5px solid #333;
}

td img:hover {
  transform: scale(5.0);
}

